@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --font-inter: 'Inter', sans-serif;

  --color-dark-heading: #aebccf;
  --color-dark-subheading: #b7aaff;
  --color-dark-background: #252128;
  --color-dark-tertiary: #bab2e7;
  --color-dark-header-titles: #6b7280;
  --color-dark-cta-button-bg: #e1e1ff;
  --color-dark-link-bg: #383838;
  --color-logo: #4731d3;
  --color-logo-text: #8f88ff;
  --color-button-text: #3730a3;
}
