@import 'tailwindcss';
@plugin "daisyui";

@theme {
  --font-roboto: 'Roboto', sans-serif;
  --font-inter: 'Inter', sans-serif;

  --color-dark-heading: #aebccf;
  --color-dark-subheading: #b7aaff;
  --color-dark-background: #252128;
  --color-dark-tertiary: #bab2e7;
  --color-dark-header-titles: #6b7280;
  --color-dark-cta-button-bg: #e1e1ff;
  --color-dark-link-bg: #383838;
  --color-dark-footer-bg: #141414;
  --color-dark-footer-linkedIn: #0ba6f6;
  --color-dark-footer-github: #17d18b;
  --color-dark-header-aux: #777777;
  --color-dark-project-title: #cfcbff;
  --color-dark-theme-switch-text: #d9d9d9;
  --color-logo: #4731d3;
  --color-logo-text: #8f88ff;
  --color-button-text: #3730a3;
}
